body {
  font-family: 'Roboto', sans-serif;
}

.home {
    padding: 20px;
    text-align: center;
  }
  
.sobre {
    padding: 20px;
    text-align: center;
  }

.contatos {
    padding: 20px;
    text-align: center;
}

.blog {
    padding: 20px;
    text-align: center;
}

/* Defina um separador de seção */
.separator {
  margin-top: 20px; /* Espaço acima do elemento */
}

/* Se preferir espaçamento entre elementos em um container */
.container {
  display: flex;
  flex-direction: column; /* Organiza os elementos em coluna */
  gap: 20px;              /* Espaçamento entre os elementos */
}
